@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400')
@keyframes body_on
	from
		opacity: 0
	to
		opacity: 1

@keyframes text_anim
	0%
		opacity: 0
	10%
		padding-left: 200px
		opacity: 0
	25%
		padding-left: 0px
		padding-right: 0px
		opacity: 1
	75%	
		padding-left: 0px
		padding-right: 0px
		opacity: 1
	90%
		padding-right: 0px	
		opacity: 1
	100%
		opacity: 0
		padding-right: 200px

$width: 200px
$width_m: 100px
$img-border: 15px
$img-border_m: 5px
$white: #F9F7EB
$blue: #5DC9D5
$red: #F65B59
$green: #9EC14D
$yellow: #FBCC4A
$text-shadow: 2px 2px 5px black

@mixin a_clean
	a
		text-decoration: none
		color: inherit
*
	margin: 0
	padding: 0

body
	background: #CBD1C7 url("../img/bg.jpg") repeat
	transition: all 0.5s
	max-width: 1650px
	margin: auto
	font-family: 'Londrina Solid'
	font-weight: 300
	border: 15px solid $white
	border-radius: 30px
	padding: 15px
	animation: body_on 1s

header
	padding: 15px
	display: flex
	justify-content: space-between
	align-items: center
	text-align: right
	img:not(#logo)
		width: 40px
		padding: 10px
		border-radius: 40px
main
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	text-align: center
	.team 
		margin: 2px
		position: relative
		display: block
		width: $width + 2 * $img-border
		> img 
			width: $width
			border-radius: $width
			border: $img-border solid $white
			box-shadow: 5px 5px 20px grey
			transition: all .5s
	.overlay > img:hover 
		opacity: 1
		transition: all .5s
		box-shadow: 10px 10px 20px grey
	.overlay > img
		position: absolute
		width: $width
		border-radius: $width
		border: $img-border solid $white
		box-shadow: 5px 5px 20px grey
		transition: 5s
		top: 0
		left: 0
		opacity: 0
hr
	border-bottom: 1px dashed black
	margin: 3px
h1
	font-weight: 300
	font-size: 28px
	
.blue
	color: $blue
	text-shadow: $text-shadow
.blue_1
	color: $blue
	@include a_clean
.red
	color: $red
	text-shadow: $text-shadow
.red_1
	color: $red
	@include a_clean
.green
	color: $green
	text-shadow: $text-shadow
.green_1
	color: $green
	@include a_clean
.yellow
	color: $yellow
	text-shadow: $text-shadow
.yellow_1
	color: $yellow
	@include a_clean
.team_info 
	width: $width
	position: relative
	background: $white
	border-radius: 15px
	margin: auto
	margin-top: 30px
	margin-bottom: 30px
	padding: 15px
	div	div
		display: flex
		align-items: center
		justify-content: center
		padding: 2px
	img 
		width: 20px
.team_info:after 
	bottom: 100%
	left: 50%
	border: solid transparent
	content: " "
	height: 0
	width: 0
	position: absolute
	pointer-events: none
	border-bottom-color: $white
	border-width: 20px
	margin-left: -20px
	// http://www.cssarrowplease.com/ helped us

footer
	padding: 15px
	text-align: center
	span
		padding: 15px
		opacity: 0
		animation: text_anim 8s infinite
@media screen and (max-width: 600px)

	header
		padding: 5px
		display: block
		text-align: center
	main .team 
		width: $width_m + 2 * $img-border_m
		> img 
			width: $width_m
			border-radius: $width_m
			border: $img-border_m solid $white
	main .overlay > img
		width: $width_m
		border-radius: $width_m
		border: $img-border_m solid $white
	.team_info 
		width: $width_m
		font-size: 1.7vw
		padding: 5px

	footer
		padding: 5px
