@import url("https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400");
@keyframes body_on {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes text_anim {
  0% {
    opacity: 0; }
  10% {
    padding-left: 200px;
    opacity: 0; }
  25% {
    padding-left: 0px;
    padding-right: 0px;
    opacity: 1; }
  75% {
    padding-left: 0px;
    padding-right: 0px;
    opacity: 1; }
  90% {
    padding-right: 0px;
    opacity: 1; }
  100% {
    opacity: 0;
    padding-right: 200px; } }
* {
  margin: 0;
  padding: 0; }

body {
  background: #CBD1C7 url("../img/bg.jpg") repeat;
  transition: all 0.5s;
  max-width: 1650px;
  margin: auto;
  font-family: "Londrina Solid";
  font-weight: 300;
  border: 15px solid #F9F7EB;
  border-radius: 30px;
  padding: 15px;
  animation: body_on 1s; }

header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right; }
  header img:not(#logo) {
    width: 40px;
    padding: 10px;
    border-radius: 40px; }

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center; }
  main .team {
    margin: 2px;
    position: relative;
    display: block;
    width: 230px; }
    main .team > img {
      width: 200px;
      border-radius: 200px;
      border: 15px solid #F9F7EB;
      box-shadow: 5px 5px 20px grey;
      transition: all 0.5s; }
  main .overlay > img:hover {
    opacity: 1;
    transition: all 0.5s;
    box-shadow: 10px 10px 20px grey; }
  main .overlay > img {
    position: absolute;
    width: 200px;
    border-radius: 200px;
    border: 15px solid #F9F7EB;
    box-shadow: 5px 5px 20px grey;
    transition: 5s;
    top: 0;
    left: 0;
    opacity: 0; }

hr {
  border-bottom: 1px dashed black;
  margin: 3px; }

h1 {
  font-weight: 300;
  font-size: 28px; }

.blue {
  color: #5DC9D5;
  text-shadow: 2px 2px 5px black; }

.blue_1 {
  color: #5DC9D5; }
  .blue_1 a {
    text-decoration: none;
    color: inherit; }

.red {
  color: #F65B59;
  text-shadow: 2px 2px 5px black; }

.red_1 {
  color: #F65B59; }
  .red_1 a {
    text-decoration: none;
    color: inherit; }

.green {
  color: #9EC14D;
  text-shadow: 2px 2px 5px black; }

.green_1 {
  color: #9EC14D; }
  .green_1 a {
    text-decoration: none;
    color: inherit; }

.yellow {
  color: #FBCC4A;
  text-shadow: 2px 2px 5px black; }

.yellow_1 {
  color: #FBCC4A; }
  .yellow_1 a {
    text-decoration: none;
    color: inherit; }

.team_info {
  width: 200px;
  position: relative;
  background: #F9F7EB;
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px; }
  .team_info div div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px; }
  .team_info img {
    width: 20px; }

.team_info:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #F9F7EB;
  border-width: 20px;
  margin-left: -20px; }

footer {
  padding: 15px;
  text-align: center; }
  footer span {
    padding: 15px;
    opacity: 0;
    animation: text_anim 8s infinite; }

@media screen and (max-width: 600px) {
  header {
    padding: 5px;
    display: block;
    text-align: center; }

  main .team {
    width: 110px; }
    main .team > img {
      width: 100px;
      border-radius: 100px;
      border: 5px solid #F9F7EB; }

  main .overlay > img {
    width: 100px;
    border-radius: 100px;
    border: 5px solid #F9F7EB; }

  .team_info {
    width: 100px;
    font-size: 1.7vw;
    padding: 5px; }

  footer {
    padding: 5px; } }

/*# sourceMappingURL=styles.css.map */
